# For AMD GPUs with DirectML (Windows)
torch==2.7.1
torchvision==0.22.1
torchaudio==2.71
onnx==1.19.1
onnxruntime-directml
numpy==1.26.4  # Required for PyTorch and ONNX operations
onnx-simplifier==0.4.36
