# For NVIDIA GPUs with CUDA support (Windows)
torch==2.7.1
torchvision==0.22.1
torchaudio==2.7.1
onnx==1.19.1
onnxruntime-gpu==1.15.1
numpy==1.26.4  # Required for PyTorch and ONNX operations
scipy  # Optional, useful for scientific computing if needed
onnx-simplifier
